.Contenedor {
    margin: auto;
    width: 50%;
    background-color: rgb(179, 173, 190);
    border: 1px solid grey;
    padding: 10px;

    height: max-content;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;

    height: 80%;
    background-color: rgb(227, 221, 240);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Input {
    position: relative;
}

.Inset {
    inset: 0;
    padding-left: 3;
    display: flex;
    align-items: center;
    pointer-events: none;
}
#input1 {
  
    border-radius: 5px;
    border-color: azure;
}
#Check1 {
    border-radius: 50%;
}
.Lista {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    overflow: hidden;
}
.Todo1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    
}
