body {
    background: linear-gradient(to right, rgb(104, 95, 162), rgb(171, 79, 100) );
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
    height: 300px;   
    width: 400px;
    margin: auto;  
    margin-top: 10%; 
    background-color: rgb(225, 220, 239);
    padding: 1px;
    border-radius: 6px;
}
.App {
    
}
h1 {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(236, 229, 229);
}
.TodoInput {
    display: container;
    justify-content: space-around;
    
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px rgb(203, 169, 169);
    border-radius: 6px;
}

input {
    padding: 4px;
    margin-right: 8px;
    border-radius: 6px;
}
input:focus-within {
    font-weight: bold;
    background-color: rgb(159, 134, 183);
    color: white;
    
}
.ButtonAdd {
    
    border-radius: 6px;
}

ul {
    list-style: none;
    

}
li {
    margin: 12px 0;
    border-style: solid 1px;
}
.delete-boton {
    
    border: 1px;
    border-color: brown;
    font-size: 10px;
    margin-left: 8px;
    
    color: rgb(107, 37, 37);
    border-radius: 4px;    

    padding-top: 4px;
    padding-bottom: 4px;
}

