body {
    background: linear-gradient(to right, rgb(130, 117, 217), rgb(36, 11, 98) );
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
    height: 400px;   
    width: 400px;
    margin: auto;  
    margin-top: 10%; 
    background-color: rgb(215, 205, 244);
    padding: 20px;
    border-radius: 6px;
}

h1 {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(218, 212, 236);
}
.TodoInput {
    display: container;
    justify-content: space-around;
    
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px rgb(46, 4, 131);
    border-radius: 6px;
}

input {
    padding: 4px;
    margin-right: 8px;
    border-radius: 6px;
}
input:focus-within {
    
    background-color: rgb(244, 239, 249);
    color: rgb(23, 21, 21);
    
}
.ButtonAdd {    
    border-radius: 6px;
    background: linear-gradient(to right, rgb(206, 201, 240), rgb(36, 11, 98) );;
    text-shadow:-.05em -.05em .05em hsl( 211, 40%,20%);
}

ul {
    list-style: none;
     border: solid 1px rgb(135, 135, 241);
     background-color: rgb(218, 212, 236);
     border-radius: 3px;   
     

}
li {
    margin: 12px 0;   
}

.delete-boton {
    
    border: 1px;
    border-color: brown;
    font-size: 10px;
    margin-left: 8px;
    
    color: rgb(107, 37, 37);
    border-radius: 4px;    

    padding-top: 4px;
    padding-bottom: 4px;
}
#LeftItem {
    text-align: left;  
    
    border-radius: 4px;
    
}

